* {
    box-sizing: border-box;
}

html {
    font-size: 18px;
    font-family: 'Noto Sans TC', sans-serif;
}

body {
background-image: url(../img/contacto.jpg);
background-size: cover;
/* background-repeat: no-repeat; */
}

.navbarice {
    /* background-image: linear-gradient(to bottom, rgba(213, 255, 151, 0.883)), hotpink; */
    background-color: rgb(253, 209, 231);
    height: 100%;
    min-height: 3rem;
    /*18px x 3rem = 54px*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar ul {
    margin: 0;
}

#navbar li a{
    text-decoration: none;
    font-size: 1.1rem;
    color: black;
    font-weight: 600;
    padding: 10px 20px;
}

.logo{
    margin: 0 30px;
    font-weight: bolder;
    letter-spacing: 2px;
    color: rgb(65, 23, 23);
}
#container {
    margin: 0 30px;
}

#navbar li a:hover{
    background-color: rgb(65, 23, 23);
    color: white;
    padding: 10px 20px;
}


#navbar li{
    /* margin-left: 1rem; */
    list-style: none;
    float: left;
}

/* 
#navbar {
    background-color: rgb(253, 209, 231);
    height: 100%;
    min-height: 3rem;
    display: flex;
    text-align: center;

}
#navbar ul {
    margin: 0;
}

#navbar li {
    list-style: none;
    float: left;
    margin-left: 1rem;
    
} */

/* #navbar li a{
    text-decoration: none;
    font-size: 1.5rem;
    padding: 20px;
    color: black;
    font-weight: 600;
} */

/* .container{
    height: 100%;
    min-height: 100vh;
} */

h1 {
    text-align: center;
    color: black;
    font-weight: 600;
}

img{
    height: auto;
    width: 100%;
}

input{
    display: block;

}

/* a {
    padding-top: 20px;
} */

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(236, 236, 236);
}

.card-container{
    /* width: 70%;
    height: 20rem; */
    display: flex;
    justify-content: center;
}

.card-content{
    background-color: white;
    filter: blur(0.1px);
    /*height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    */padding: 1rem;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    width: 70%;
    height: 100%;
    -webkit-filter: blur(0.1px);
}

.card-content .input-field{
    display: flex;
    flex-direction: column;
    /* margin-top: 1.5rem; */
    justify-content: center;
    align-items: center;
    
}

.input-field input{
    width: 70%;
}

.submit-button {
    display: flex;
    justify-content: center;
    margin-top: 1rem;

}

.submit-button button {
    background-color: hotpink;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    border: none;
    padding: 10px 20px;
}

.submit-button button:hover {
    background-color: rgb(255, 67, 161);
    cursor: pointer;
}


.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}


.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}


.navbar-links li a {
    display: block;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: #555;
}


@media screen and (max-width: 800px) {
    
    #navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .toggle-button{
        display: flex;
    }
    
    .navbar-links {
        display: none;
        width: 100%;
    }
    
    .navbar-links ul{
        width: 100%;
        flex-direction: column;
    }
    .navbar-links ul li {
        text-align: center;
    }
    
    .navbar-links ul li a {
        padding: .5rem 1rem;
    }
    
    .navbar-links.active{
        display: flex;
    }
    
    .logo {
        margin: .9rem;
    }
    
    }